<mat-card-title>Lamparas disponibles</mat-card-title>


<mat-action-list>
  <div *ngFor="let disp of dispList">

    <mat-list-item *ngFor="let ex of disp.ext" (click)="actualizarDispositivo(disp, 'TOGGLE')"
                   [routerLinkActive]="['is-active']"
                   [ngStyle]="{'background-color': ex[1]==='ON'?verdeHexa:carmesiHexa}">
      <div>
          <mat-icon *ngIf="ex[1]==='ON'">mood</mat-icon>
          <mat-icon *ngIf="ex[1]==='OFF'">mood_bad</mat-icon>
      </div>
      {{disp.name}}
    </mat-list-item>
  </div>
</mat-action-list>
