<mat-card-title>Lamparas disponibles</mat-card-title>


<mat-action-list>
  <mat-list-item *ngFor="let light of lightList" (click)="cambiarEstado(light)" [routerLinkActive]="['is-active']"
                 [ngStyle]="{'background-color': light.bgColor}">
    <div>
      <mat-icon *ngIf="light.encendido">mood</mat-icon>
      <mat-icon *ngIf="!light.encendido">mood_bad</mat-icon>
    </div>
    <div>
      {{light.name}}
    </div>
  </mat-list-item>
</mat-action-list>

<!--<mat-list>-->
<!--<mat-card *ngFor="let light of lightList">-->
<!--  <div fxLayout="row" fxLayoutAlign="space-around center">-->
<!--    <span>{{light.name}}</span>-->
<!--    <div>-->
<!--<mat-card-content>-->
<!--      <button mat-flat-button color="warn" (click)="cambiarEstado(light)" *ngIf="light.encendido; else botonApagado">-->
<!--        Apagar-->
<!--      </button>-->
<!--      <ng-template #botonApagado>-->
<!--        <button mat-flat-button color="encender" (click)="cambiarEstado(light)">-->
<!--          Encender-->
<!--        </button>-->
<!--      </ng-template>-->
<!--</mat-card-content>-->
      <!--      </div>-->
      <!--    </div>-->
<!--</mat-card>-->
<!--</mat-list>-->
