<mat-card-title>Lamparas disponibles</mat-card-title>


<mat-action-list>
  <mat-list-item *ngFor="let light of lightList" (click)="actualizarDispositivo(light)"
                 [routerLinkActive]="['is-active']"
                 [ngStyle]="{'background-color': light.bgColor}">
    <div>
      <div>
        <mat-icon *ngIf="light.conectado && light.encendido">mood</mat-icon>
        <mat-icon *ngIf="!light.conectado || !light.encendido">mood_bad</mat-icon>
      </div>
      <div>
        {{light.name}}
      </div>
    </div>
  </mat-list-item>
</mat-action-list>
